{% extends 'base.html' %}
{% block content %}

<h1 class="page-title">Playdate Details</h1>

<div class="row">
    <div class="col s6 col-offset-3">
        <div class="card">
            <div class="card-content">
                <p>Location: {{ playdate.location }}</p>
                <p>Date: {{ playdate.date }}</p>
                <p>Time: {{ playdate.time }}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'playdates_update' playdate.id %}">Edit</a>
                <a href="{% url 'playdates_delete' playdate.id %}">Delete</a>
            </div>
        </div>
    </div>
</div>

<script>
	const dateEl = document.getElementById('id_date');
	// M is Materialize's global variable
	M.Datepicker.init(dateEl, {
		format: 'yyyy-mm-dd',
		defaultDate: new Date(),
		setDefaultDate: true,
		autoClose: true
	});
</script>
{% endblock %}
