@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.brand-logo {
    color: #424242 !important;
    font-family: 'Amatic SC', sans-serif;
}

.top-links {
    color: #424242;
}
